/* Space Grotesk */

@font-face {
	font-family: 'Space Grotesk';
	font-style: normal;
	font-weight: 300;
	src: local('Space Grotesk'),
		url('fonts/SpaceGrotesk-Light.woff') format('woff');
	font-display: swap;
}

@font-face {
	font-family: 'Space Grotesk';
	font-style: normal;
	font-weight: 400;
	src: local('Space Grotesk'),
		url('fonts/SpaceGrotesk-Regular.woff') format('woff');
	font-display: swap;
}

@font-face {
	font-family: 'Space Grotesk';
	font-style: normal;
	font-weight: 500;
	src: local('Space Grotesk'),
		url('fonts/SpaceGrotesk-Medium.woff') format('woff');
	font-display: swap;
}

@font-face {
	font-family: 'Space Grotesk';
	font-style: normal;
	font-weight: 600;
	src: local('Space Grotesk'),
		url('fonts/SpaceGrotesk-SemiBold.woff') format('woff');
	font-display: swap;
}

@font-face {
	font-family: 'Space Grotesk';
	font-style: normal;
	font-weight: 700;
	src: local('Space Grotesk'),
		url('fonts/SpaceGrotesk-Bold.woff') format('woff');
	font-display: swap;
}

/* Inter */

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 300;
	src: local('Inter'), url('fonts/Inter-Light.woff') format('woff');
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	src: local('Inter'), url('fonts/Inter-Regular.woff') format('woff');
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	src: local('Inter'), url('fonts/Inter-Medium.woff') format('woff');
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	src: local('Inter'), url('fonts/Inter-SemiBold.woff') format('woff');
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	src: local('Inter'), url('fonts/Inter-Bold.woff') format('woff');
	font-display: swap;
}
