@import './reset.css';
@import './fonts.css';
@import './variables.css';

/* utilities */
@import './utilities/flow.css';

body {
	font-family: var(--text-font);
	font-size: var(--fluid-step--1);
	line-height: 1.5;
	overflow-x: hidden;
	padding: 0px var(--space-300) var(--space-600) var(--space-300);
	max-width: 75ch;
	margin: 0 auto;
	color: var(--c-black);
}

h1,
h2,
h3 {
	line-height: 1.2;
	margin-bottom: 0.5em;
}

h1,
h2 {
	font-family: var(--display-font);
}

h1 {
	font-size: var(--fluid-step-1);
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

h2 {
	font-size: var(--fluid-step-0);
	font-weight: var(--font-weight-semibold);
	margin-top: 3em;
	margin-bottom: 1.5em;
	border-bottom: 1px solid var(--c-gray-200);
	padding-bottom: var(--space-200);
}

h3 {
	font-size: var(--fluid-step--1);
	font-weight: var(--font-weight-medium);
	margin-top: 2em;
}

p {
	line-height: 1.75;
	margin-top: 1em;
	margin-bottom: 1em;
}

a {
	color: currentColor;

	text-decoration-color: var(--c-gray-300);
	text-decoration-thickness: 1px;
	text-underline-offset: 3px;
}

.underline {
	text-decoration: underline;
	text-decoration-color: var(--c-gray-300);
	text-decoration-thickness: 1px;
	text-underline-offset: 3px;
}

@media (hover: hover) and (pointer: fine) {
	a:hover,
	a:hover .underline {
		color: var(--c-black);
		text-decoration-color: var(--c-gray-600);
	}
}

ul,
ol {
	list-style: none;
	padding-left: 0;
	color: var(--c-gray-800);
}

ul:not(.list-style-none),
ol:not(.list-style-none) {
	padding-left: var(--space-400);
}

ul:not(.list-style-none) li,
ol:not(.list-style-none) li {
	position: relative;
}

ul:not(.list-style-none) li::before,
ol:not(.list-style-none) li::before {
	content: '';
	width: 5px;
	height: 5px;
	border-radius: 50%;
	border: 1px solid var(--c-gray-500);
	background-color: #ffffff;
	position: absolute;
	top: 0.6em;
	left: calc(-1 * var(--space-400) + var(--space-100) / 2);
}

li + li {
	margin-top: 0.5em;
}

.list-style-none li {
	margin: 0;
}

table {
	border-collapse: collapse;
}

th {
	text-align: left;
}

mark {
	font-style: italic;
	margin: 0 -0.4em;
	padding: 0.1em 0.4em;
	border-radius: 0.8em 0.3em;
	background: transparent;
	background-image: linear-gradient(
		to right,
		rgba(241, 225, 71, 0.15),
		rgba(241, 225, 71, 0.525) 11.9615%,
		rgba(241, 225, 71, 0.224)
	);
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
}

:focus,
:focus-visible {
	outline: 2px dotted;
	outline-offset: 0.1rem;
}

/* hide focus ring when it's not supposed to be visible */
:focus:not(:focus-visible) {
	outline: none;
}

::selection {
	background: var(--c-salmon);
	color: white;
}
