@import './reset.css';
@import './fonts.css';
@import './variables.css';

body {
	font-family: var(--text-font);
	line-height: 1.5;
	overflow-x: hidden;
	padding: 0px var(--size-px-100) var(--size-px-600) var(--size-px-100);
	max-width: 800px;
	margin: 0 auto;
}

h1,
h2,
h3 {
	font-family: var(--display-font);
	line-height: 1.2;
}

h1 {
	font-size: var(--size-rem-700);
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

h2,
h3 {
	font-size: var(--size-rem-600);
	margin-top: 2em;
	margin-bottom: 0.5em;
}

p {
	margin-top: 1em;
	margin-bottom: 1em;
}

a {
	color: currentColor;
}

li + li {
	margin-top: 0.5em;
}

table {
	border-collapse: collapse;
}

th {
	text-align: left;
}

:focus,
:focus-visible {
	outline: 2px dotted;
	outline-offset: 0.1rem;
}

/* hide focus ring when it's not supposed to be visible */
:focus:not(:focus-visible) {
	outline: none;
}
